@import "../../../../styles/mixins.scss";

form {
  @include dFlex($jc: flex-start, $ai: center, $fd: column, $g: 32px);
  box-sizing: border-box;  
  width: 100%;
  padding: 0 25px;

  .form-box{
    position: relative;
    width: 100%;
    @include dFlex($jc: flex-start, $ai: flex-start, $fd: column, $g: 10px);

    .input-with-icon{
      @include dFlex($jc: space-between, $ai: flex-start, $fd: row, $g: 0px);
      width: 100%;
      position: relative;

      img{
          position: absolute;
          right: 25px;
          top: 30px;
          transform: translateY(-50%);
          width: 25px;
          height: 25px;
      }

    }

  }


  input[type=text],input[type=email], textarea {    
    box-sizing: border-box;
    width: 100%;
    padding-block: 0;
    padding-inline: 0;
    border-radius: 10px;
    border: 1px #4B47FF solid ;
    background-color: transparent;
    color: #ffffff;
    padding: 15px 25px;
    font-weight: 400;
    font-size: 16px;
    font-family: 'Poppins';
    cursor: pointer;
    
    &::placeholder{
      color: #ffffff;
    }
    &:hover{
      border: 1px #00BEE8 solid ;
    }    
    &:focus{
      border: 1px #E61C40 solid;      
    }
    &:valid{      
      border: 1px #70E61C solid ;
    }

  }  

  textarea{
    height: 162px;
  }

  :focus-visible{
    outline: none;
  }

  .required{
    font-weight: 400;
    font-size: 14px;
    line-height: 16.8px;
    color: #E61C40;
  }

}