<form
  (ngSubmit)="onSubmit(contactForm)"
  #contactForm="ngForm"
  autocomplete="off"
  ngNativeValidate
  data-aos="fade-up"
  data-aos-offset="50"
  data-aos-delay="50"
  data-aos-duration="125"
  data-aos-easing="linear"
  data-aos-mirror="true"
  data-aos-once="false"
>

  <div class="form-box">
    <div class="input-with-icon">
      <input
        placeholder="{{ 'FORM_NAME' | translate }}"
        required
        type="text"
        name="name"
        minlength="3"
        #name="ngModel"
        [(ngModel)]="contactData.name"
        [ngStyle]="
          !name.valid && name.touched && !name.disabled
            ? { border: '1px #E61C40 solid' }
            : {}
        "
      />
      @if(name.touched){
        <img        
        [src]="
          name.valid
          ? './assets/img/contact/done.svg'
          : './assets/img/contact/error.svg'
          "
        alt="icon"
        />
      }
    </div>
    @if (!name.valid && name.touched && !name.disabled){
    <span class="required">{{ 'FORM_NAME_REQUIRED' | translate }}</span>
    }
  </div>

  <div class="form-box">
    <div class="input-with-icon">
      <input
        placeholder="{{ 'FORM_EMAIL' | translate}}"
        required
        type="email"
        name="email"
        #email="ngModel"
        [(ngModel)]="contactData.email"
        [ngStyle]="
          !email.valid && email.touched && !email.disabled
            ? { border: '1px #E61C40 solid' }
            : { }
        "
        pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}"
      />
      @if(email.touched){
        <img        
        [src]="
          email.valid
          ? './assets/img/contact/done.svg'
          : './assets/img/contact/error.svg'
          "
        alt="icon"
        />
      }
    </div>
    @if (!email.valid && email.touched && !email.disabled){
    <span class="required">{{ 'FORM_EMAIL_REQUIRED' | translate}}</span>
    }
  </div>

  <div class="form-box">
    <div class="input-with-icon">
      <textarea
        placeholder="{{ 'FORM_MESSAGE' | translate}}"
        required
        type="text"
        name="message"
        minlength="10"
        #message="ngModel"
        [(ngModel)]="contactData.message"
        [ngStyle]="
          !message.valid && message.touched && !message.disabled
            ? { border: '1px #E61C40 solid' }
            : {}
        "
      ></textarea>
     @if(message.touched){
      <img        
        [src]="
          message.valid
            ? './assets/img/contact/done.svg'
            : './assets/img/contact/error.svg'
        "
        alt="icon"
      />
    }
    </div>
    @if (!message.valid && message.touched && !message.disabled){
    <span class="required">{{ 'FORM_MESSAGE_REQUIRED' | translate}}</span>
    }
  </div>

  @if(isConfirmed){
    <div class="form-box">
      <div class="input-with-icon">
        <textarea class="confirmation"
        placeholder="{{ 'SENDMAIL_CONFIRMATION' | translate }}"
        type="text"
        disabled
        ></textarea>
      </div>
    </div>
  }
  @else {  
  <div class="form-box">
    <div class="privacy-policy">
      <input
        type="checkbox"
        #checkbox="ngModel"
        [(ngModel)]="isChecked"
        name="privacy-policy"
        class="custom-checkbox"
      />
      <span class="checkbox-icon">
        <img
          (mouseover)="handleHover(true)"
          (mouseout)="handleHover(false)"
          (click)="toggleCheckbox()"
          [src]="
            isChecked
              ? isHovered
                ? './assets/img/contact/checkbox_checked_hover.svg'
                : './assets/img/contact/checkbox_checked.svg'
              : isHovered
              ? './assets/img/contact/checkbox_default_hover.svg'
              : './assets/img/contact/checkbox_default.svg'
          "
          alt=""
        />
      </span>

      <span
        >{{ 'FORM_PRIVACY0' | translate}} <a href="/privacy-policy">{{ 'FORM_PRIVACY1' | translate}}</a> {{ 'FORM_PRIVACY2' | translate}}</span
      >
    </div>
    <span [style.visibility]="isChecked || checkboxCounter < 2 ? 'hidden' : 'visible'" class="required">{{ 'FORM_PRIVACY_REQUIRED' | translate}}</span>
  </div>    

  <input
    [ngClass]="{ btnDisabled: !name.valid || !email.valid || !message.valid || !isChecked, btn: isChecked }"
    [disabled]="!name.valid || !email.valid || !message.valid || !isChecked"
    type="submit"
    value="{{ 'FORM_BTN' | translate }} :)"
  />
}
</form>

<div class="navigation">
  <a href="#">    
    <svg id="button_up" width="39" height="40" viewBox="0 0 39 40" fill="none" xmlns="http://www.w3.org/2000/svg">
      <rect id="button_up_rect" x="1" y="1.27734" width="37" height="37" rx="18.5" stroke="#FFFFFF" stroke-width="2"/>
      <path d="M18 16.1053L13.343 20.7623C12.9525 21.1528 12.3194 21.1528 11.929 20.7623C11.5385 20.3719 11.5385 19.7388 11.929 19.3483L18.2928 12.9844C18.6834 12.5939 19.3165 12.5939 19.7071 12.9844L26.071 19.3483C26.4614 19.7388 26.4614 20.3719 26.071 20.7623C25.6805 21.1528 25.0474 21.1528 24.657 20.7623L20 16.1053L20 27.2773C20 27.8296 19.5522 28.2773 19 28.2773C18.4477 28.2773 18 27.8296 18 27.2773L18 16.1053Z" fill="#FFFFFF"/>
    </svg>
  </a>

</div>
