<form (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm" autocomplete="off">
  
  <div class="name-box">
    <input
    placeholder="Your name"
    required
    type="text"
    name="name"
    id="name"
    minlength="3"
    #name="ngModel"
    [(ngModel)]="contactData.name"
    (focus)="changePlaceholder('name','|')"
    (blur)="changePlaceholder('name','Your name')"
    />
    @if (!name.valid && name.touched && !name.disabled){
      <span class="required">Your name is required</span>
    }
  </div>

  <div class="mail-box">
    <input 
    placeholder="Your email" 
    required 
    type="email" 
    name="email" 
    [(ngModel)]="contactData.email"
    pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}"
    (focus)="changePlaceholder('email','|')"
    (blur)="changePlaceholder('email','Your name')"
    />
    <span class="required">Your email is required</span>
  </div>

  <div class="message-box">
    <textarea
    placeholder="Your message"
    required
    type="text"
    name="message"
    [(ngModel)]="contactData.message"
    (focus)="changePlaceholder('message','|')"
    (blur)="changePlaceholder('message','Your message')"
    ></textarea>
    <span class="required">Your message is empty</span>
  </div>

  <input type="checkbox" name="privacy-policy" />  
  <input type="submit" value="Send message :)">

</form>
