<div class="content">
  <img class="shadow" src="./assets/img/contact/contact-shadow.svg" />
  <div class="contact">
    <svg xmlns="http://www.w3.org/2000/svg" width="20px" height="8">
      <rect x="2" y="2" width="100%" height="4" fill="#4b47ff" />
    </svg>
    <h1>Contact</h1>
  </div>
  <div class="intro">
    <div class="title">Got a problem to solve?</div>
    <div class="description">Contact me through this form, I am interested in hearing you, knowing your ideas and contributing to your projects with my work.</div>
    <div class="description">Need a Frontend developer? <span>Contact me!</span></div>
  </div> 
  
  <app-contact-form></app-contact-form>
  
  <img class="shadow-bottom" src="./assets/img/contact/contact-shadow-bottom.svg" />
</div>
