<div class="content">
  <img class="shadow" src="./assets/img/contact/contact-shadow.svg" />
  <div class="contact"
  data-aos="fade-up"
    data-aos-offset="50"
    data-aos-delay="50"
    data-aos-duration="125"
    data-aos-easing="linear"
    data-aos-mirror="true"
    data-aos-once="false"
  >
    
    <svg xmlns="http://www.w3.org/2000/svg" width="20px" height="8">
      <rect x="-2" y="2" width="100%" height="4" rx="2" ry="2" fill="#4b47ff" />
    </svg>

    <h1>{{ "CONTACT" | translate }}</h1>
  </div>
  
  <div class="contact_desktop"
  data-aos="fade-up"
    data-aos-offset="50"
    data-aos-delay="50"
    data-aos-duration="125"
    data-aos-easing="linear"
    data-aos-mirror="true"
    data-aos-once="false"
  >

    <div class="intro">
      <div class="title">{{ "CONTACT_TITLE" | translate }}</div>
      <div class="description">{{ "CONTACT_DESCRIPTION0" | translate }}</div>
      <div class="description">{{ "CONTACT_DESCRIPTION1" | translate }} <span>{{ "CONTACT_DESCRIPTION2" | translate }}</span></div>
    </div>     

    <app-contact-form></app-contact-form>
    
  </div>
  
  <img class="shadow-bottom" src="./assets/img/contact/contact-shadow-bottom.svg" />
</div>
