<section class="atf">  
  
    <div class="picture-container">
      <div class="image-wrapper">
        <img class="image" id="hero-character-picture" src="./assets/img/atf/profile.png" />
      <img class="image" id="shadow-character-picture" src="./assets/img/atf/profile-shadow.svg">      
    </div>
    <img class="image image3" id="background-shadow" src="./assets/img/atf/vector-mobile.svg">   
    </div>

  <div class="whoAmI">
    <img id="whoAmI-picture" src="./assets/img/atf/whoami.png" />    
    <button class="btn contact" href="#contact">Let's talk!</button>
  </div>

</section>