<section class="atf">  

  <div class="picture-container">
    <img id="shadow-character-picture" src="./assets/img/atf/profile-shadow.svg">
    <!-- <img id="background-shadow" src="./assets/img/atf/vector-mobile.svg"> -->
    <!-- <img id="hero-character-picture" src="./assets/img/atf/profile.png" /> -->
  </div>
  
  <div class="whoAmI">
    <img id="whoAmI-picture" src="./assets/img/atf/whoami.png" />    
    <button class="btn contact" href="#contact">Let's talk!</button>
  </div>

</section>

<!-- <section class="atf-contact">
  <img src="./assets/img/vector.png">
</section> -->
