<section class="atf">
  <div class="picture-container">
    <!-- <img id="shadow-character-picture" src="./assets/img/profile-shadow.png"> -->
    <img
    id="hero-character-picture"
    src="./assets/img/profile.png"
    />
  </div>
  <div class="whoAmI">   
    <svg xmlns="http://www.w3.org/2000/svg">
      <!-- <text x="-110" y="80" fill="#FFFFFF" font-family="Poppins" font-size="4.2em" font-weight="400" transform="rotate(270, 10, 40)">
          I am
      </text> -->
      <text x="25" y="80" fill="#FFFFFF" font-family="Poppins" font-size="6em" font-weight="700">
          Stefan Jaroni
      </text>
      <text x="25" y="153" fill="#4B47FF" font-family="Poppins" font-size="3.8em" font-weight="400">
          FRONTEND DEVELOPER
      </text>
    </svg>
    <!-- <button>Let`s talk!</button> -->
  </div>
</section>
<!-- <section class="atf-contact">
  stefan.jaroni
</section> -->
