@import "../../../styles/mixins.scss";

.atf {
  width: 100%;
  height: 615px;
  @include dFlex($jc: center, $ai: flex-start, $fd: row, $g: 0px);
  padding: 0 100px;

  #hero-character-picture,
  .whoAmI {
    flex: 1;
    overflow: hidden;
    box-sizing: border-box;
  }

  #hero-character-picture {
    max-width: 646px;
    width: 40%;
    object-fit: contain;
  }

  .whoAmI {
    height: 90%;
    @include dFlex($jc: center, $ai: center, $fd: column, $g: 0px);
    background-color: green;
    width: 60%;
    max-width: 718px;
    overflow: visible;

    svg {      
      width: 100%;
      max-width: 718px;
      height: 172px;
      background-color: gold;      
    }
  }
}

// @media (max-width: 1328px) {
//   .whoAmI {
//     aspect-ratio: 0.8;
//   }
// }

@media (max-width: 992px) {
  .atf {
    width: calc(100% - 50px);
    padding: 0 25px;
    @include dFlex($jc: flex-start, $ai: flex-start, $fd: column, $g: 0px);
  }
}
