@import "../../../styles/mixins.scss";

.atf {  
  @include dFlex($jc: space-evenly, $ai: center, $fd: column, $g: 20px);
  position: relative;
}

.picture-container {
  position: relative;
  width: 100%;
  height: auto;
}

.image-wrapper {
  position: relative;
  width: 100%;
}

.image {
  width: 100%;
  height: auto;
  display: block;
}

.bottom {
  position: absolute;
  bottom: -42%;
}

#shadow-character-picture{
  position: absolute;
    top: 0;
    z-index: -1;
}

.whoAmI{  
  width: 100%;
  z-index: 1;  
  @include dFlex($jc: space-between, $ai: center, $fd: column, $g: 20px);  
  #whoAmI-picture{
    width: 90%;
  }
}

@media (max-height: 700px) {
  .atf{
    gap: 8px;
  }
  .whoAmI {    
    width: 80%;
    gap: 8px;
  }
  .btn{
    width: 20%;
  }
}

// @media (max-width: 992px) {
//   .atf {
//     width: calc(100% - 50px);
//     padding: 0 25px;
//     @include dFlex($jc: flex-start, $ai: flex-start, $fd: column, $g: 0px);
//   }
// }
