@keyframes fadeOut {
  from  {
      background-color: rgba(255, 255, 255 , 1);
  }
  to {
      background-color: rgba(255, 255, 255 , 0);
  }
}

@keyframes fadeIn {
  from  {
      background-color: rgba(255, 255, 255 , 0);
  }
  to {
      background-color: rgba(255, 255, 255, 1);
  }
}

@keyframes rotateTop {
  from {
      transform: translateY(0px)rotate(0);
  } to {
      transform: translateY(14px) rotate(-45deg);
  }
}

@keyframes rotateBottom {
  from {
      transform: translateY(0px)rotate(0);
  } to {
      transform: translateY(-10px) rotate(45deg);
  }
}

@keyframes rotateBackTop {
  from {
      transform: translateY(14px)rotate(-45deg);
  } to {
      transform: translateY(0px) rotate(0deg);
  }
}

@keyframes rotateBackBottom {
  from {
      transform: translateY(-10px)rotate(45deg);
  } to {
      transform: translateY(0px) rotate(0deg);
  }
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0%);
  }
}

@keyframes slideOut {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(100%);
  }
}

@keyframes slideFromRight {
  0% {
    transform: translateX(800%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideFromLeft {
  0% {
    transform: translateX(-200%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes hoverAnimation {
  from {    
    //padding: 24px 0;
    gap: 10px;
  }
  to {    
    gap: 34px;
    padding: 0 24px;
  }
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    top: 0;
  }
  40% {
    top: 15px;
  }
  60% {
    top: 10px;
  }
}

@keyframes bounce2 {
  0%, 100% {
    top: -75px;
  }
  50% {
    top: -40px;
  }
}

.show{
  transform: translateX(0%) !important;
  opacity: 1;
}

