@import "../../../../styles.scss";
@import "../../../../styles/mixins.scss";

nav {
  height: 109px;
  top: 0;
  position: sticky;
  z-index: 999;
  background-color: #141d2f;
  // overflow: hidden;
  overflow: visible; 
  @include dFlex($jc: center, $ai: center, $fd: row, $g: 0px);

  #header-menu {
    width: calc(100% - 200px);
    @include dFlex($jc: space-between, $ai: center, $fd: row, $g: 0px);

    .logoBox {
      display: flex;
      align-items: center;
      a {
        text-decoration: none;
        color: #ffffff;
        font-size: 36px;
        line-height: 28px;
      }
      .logo {
        height: 60px;
        cursor: pointer;
      }
    }
  }
}

.menu-system {
  width: 324px;
  height: 32px;
  font-size: 23px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  @include dFlex($jc: flex-end, $ai: center, $fd: row, $g: 29px);

  .navLinkContent {
    @include dFlex($jc: flex-start, $ai: flex-start, $fd: column, $g: 0);

    > a {
      text-decoration: none;
      color: #ffffff;
      line-height: 28px;

      &:hover {
        color: #00bee8;
      }
      &:active {
        color: #ffffff;
      }
    }

    .isActive {
      color: #00bee8 !important;
    }
  }
}

#menuMobile {
  position: absolute;
  top: 0;
  height: 924px;
  width: calc(100% - 200px);
  // background-color: #141d2f;
  background-color: pink;
  opacity: 0.8;
  z-index: 1;
  animation: slideIn 125ms ease-in-out;
}


.hamburgerMenuContainer {
  display: none;
}

.hamburgerMenu {
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: center;
  align-items: end;
  cursor: pointer;
  height: 30px;
  z-index: 2;
}

.hamburgerMenuLine {
  background-color: #FFFFFF;
  height: 4px;
  width: 32px;
  border-radius: 16px;
}

@media (max-width: 992px) {

  .menu-system{
    display: none;
  }
  .navLinkBox {
      display: none;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;

      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      transform: translateX(100%);

      background-color: rgba(255, 255, 255, 0.9);
  }

  .hamburgerMenuContainer {
      display: flex;
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      transform: translateX(100%);
  }
}

@media (min-width: 993px) {
  #menuMobile {
      display: none;
  }
  
  .hamburgerMenu {
      display: none;
  }

  .navLinkBox {
      justify-content: space-evenly;
      align-items: end;
      height: 120px;
      width: 800px;
      margin-bottom: 15px;
  }

  .d-none {
      display: none;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
-webkit-appearance: none;
margin: 0;
}