@import "../../../../styles.scss";
@import "../../../../styles/mixins.scss";

nav {
  height: 109px;
  top: 0;
  position: sticky;
  z-index: 999;
  background-color: #141d2f;
  overflow: visible; 
  @include dFlex($jc: center, $ai: center, $fd: row, $g: 0px);

  #header-menu {
    width: calc(100% - 200px);
    @include dFlex($jc: space-between, $ai: center, $fd: row, $g: 0px);

    .logoBox {
      display: flex;
      align-items: center;
      a {
        text-decoration: none;
        color: #ffffff;
        font-size: 36px;
        line-height: 28px;
        font-weight: 500;
      }
      .logo {
        height: 60px;
        cursor: pointer;
      }
    }
  }
}

.menu-system {
  width: 324px;
  height: 32px;
  font-size: 23px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  @include dFlex($jc: flex-end, $ai: center, $fd: row, $g: 29px); 
}

#menuMobile {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100vh;  
  width: 100%;
  font-size: 23px;
  background-color: #141d2f;
  opacity: 0.8;
  z-index: 1;  
  @include dFlex($jc: center, $ai: center, $fd: column, $g: 29px);
  animation: slideIn 125ms ease-in-out;

  .navLink{
    @include dFlex($jc: flex-start, $ai: flex-start, $fd: column, $g: 29px);
  }  
}

.navLinkContent {
  @include dFlex($jc: flex-start, $ai: flex-start, $fd: column, $g: 0px);    
}

a {
  text-decoration: none;
  color: #ffffff;
  line-height: 28px;

  &:hover {
    color: #00bee8;
  }
  &:active {
    color: #ffffff;
  }
}

.isActive {
  color: #00bee8 !important;
}

.hamburgerMenu {
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: center;
  align-items: end;
  cursor: pointer;
  height: 30px;
}

.hamburgerMenuLine {
  background-color: #FFFFFF;
  height: 2px;
  width: 32px;
  border-radius: 16px;
}

@media (max-width: 992px) {

  .menu-system{
    display: none;
  }  

  #header-menu {
    width: 100% !important;
    padding: 37px 25px;
  }

}

@media (min-width: 993px) {
  #menuMobile {
      display: none;
  }
  
  .hamburgerMenu {
      display: none;
  }  
}