<nav>
  <header>
    <!-- 
      <img src="" alt="LOGO" /> 
      /*ANCHOR - LOGO & NAME & LINK auf HOME
    -->
    <div>STEFAN</div>
    <div class="menu">
      <div class="menu-property">
        <a (click)="clickedLink('aboutMe', $event)" href="#aboutMe" [ngClass]="{'isActive': isAboutMeClicked}">About me</a>
        <svg 
          xmlns="http://www.w3.org/2000/svg"
          width="59"
          height="4"
          viewBox="0 0 59 4"
          fill="none"
        >
          <path
            d="M2 0.5H0.5V3.5H2V0.5ZM57.5 3.5C58.3284 3.5 59 2.82843 59 2C59 1.17157 58.3284 0.5 57.5 0.5V3.5ZM2 3.5H57.5V0.5H2V3.5Z"
            [attr.fill]="isAboutMeClicked ? '#4B47FF' : '#141d2f'"
          />
        </svg>
      </div>

      <div class="menu-property">
        <a (click)="clickedLink('skills', $event)" href="#skills" [ngClass]="{'isActive': isSkillsClicked}">Skills</a>
        <svg 
          xmlns="http://www.w3.org/2000/svg"
          width="59"
          height="4"
          viewBox="0 0 59 4"
          fill="none"
        >
          <path
            d="M2 0.5H0.5V3.5H2V0.5ZM57.5 3.5C58.3284 3.5 59 2.82843 59 2C59 1.17157 58.3284 0.5 57.5 0.5V3.5ZM2 3.5H57.5V0.5H2V3.5Z"
            [attr.fill]="isSkillsClicked ? '#4B47FF' : '#141d2f'"
          />
        </svg>
      </div>

      <div class="menu-property">
        <a (click)="clickedLink('portfolio', $event)" href="#portfolio" [ngClass]="{'isActive': isPortfolioClicked}">Portfolio</a>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="59"
          height="4"
          viewBox="0 0 59 4"
          fill="none"
        >
          <path
            d="M2 0.5H0.5V3.5H2V0.5ZM57.5 3.5C58.3284 3.5 59 2.82843 59 2C59 1.17157 58.3284 0.5 57.5 0.5V3.5ZM2 3.5H57.5V0.5H2V3.5Z"
            [attr.fill]="isPortfolioClicked ? '#4B47FF' : '#141d2f'"
          />
        </svg>
      </div>
    </div>
  </header>
</nav>
