<nav>
  <div id="header-menu">
    <div class="logoBox" style="z-index: 5">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="59"
        height="4"
        viewBox="0 0 59 4"
        fill="none"
      >
        <path
          d="M2 0.5H0.5V3.5H2V0.5ZM57.5 3.5C58.3284 3.5 59 2.82843 59 2C59 1.17157 58.3284 0.5 57.5 0.5V3.5ZM2 3.5H57.5V0.5H2V3.5Z"
          fill="#00bee8"
        ></path>
      </svg>      
      <a href="#"> Stefan </a>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="175"
        height="4"
        viewBox="0 0 59 4"
        fill="none"
      >
        <path
          d="M2 0.5H0.5V3.5H2V0.5ZM57.5 3.5C58.3284 3.5 59 2.82843 59 2C59 1.17157 58.3284 0.5 57.5 0.5V3.5ZM2 3.5H57.5V0.5H2V3.5Z"
          fill="#4B47FF"
        ></path>
      </svg>
    </div>

    <div class="menu-system">
      <div class="navLinkContent">
        <a
          (click)="sharedData.clickedLink('aboutMe')"
          href="#aboutMe"
          [ngClass]="{ isActive: sharedData.isAboutMeClicked }"
          >{{ "ABOUT_ME" | translate }}</a
        >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="59"
          height="4"
          viewBox="0 0 59 4"
          fill="none"
        >
          <path
            d="M2 0.5H0.5V3.5H2V0.5ZM57.5 3.5C58.3284 3.5 59 2.82843 59 2C59 1.17157 58.3284 0.5 57.5 0.5V3.5ZM2 3.5H57.5V0.5H2V3.5Z"
            [attr.fill]="sharedData.isAboutMeClicked ? '#4B47FF' : '#141d2f'"
          />
        </svg>
      </div>
      <div class="navLinkContent">
        <a
          (click)="sharedData.clickedLink('skills')"
          href="#skills"
          [ngClass]="{ isActive: sharedData.isSkillsClicked }"
          >{{ "SKILLS" | translate }}</a
        >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="59"
          height="4"
          viewBox="0 0 59 4"
          fill="none"
        >
          <path
            d="M2 0.5H0.5V3.5H2V0.5ZM57.5 3.5C58.3284 3.5 59 2.82843 59 2C59 1.17157 58.3284 0.5 57.5 0.5V3.5ZM2 3.5H57.5V0.5H2V3.5Z"
            [attr.fill]="sharedData.isSkillsClicked ? '#4B47FF' : '#141d2f'"
          />
        </svg>
      </div>
      <div class="navLinkContent">
        <a
          (click)="sharedData.clickedLink('portfolio')"
          href="#portfolio"
          [ngClass]="{ isActive: sharedData.isPortfolioClicked }"
          >Portfolio</a
        >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="59"
          height="4"
          viewBox="0 0 59 4"
          fill="none"
        >
          <path
            d="M2 0.5H0.5V3.5H2V0.5ZM57.5 3.5C58.3284 3.5 59 2.82843 59 2C59 1.17157 58.3284 0.5 57.5 0.5V3.5ZM2 3.5H57.5V0.5H2V3.5Z"
            [attr.fill]="sharedData.isPortfolioClicked ? '#4B47FF' : '#141d2f'"
          />
        </svg>
      </div>
      <div class="navLinkContent">
        <div class="languageSelection">
          <a
            (click)="changeLanguage('en')"
            [ngClass]="{ isActive: defaultLanguage == 'en' }"
            >en</a
          >
          |
          <a
            (click)="changeLanguage('de')"
            [ngClass]="{ isActive: defaultLanguage == 'de' }"
            >de</a
          >
        </div>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="59"
          height="4"
          viewBox="0 0 59 4"
          fill="none"
        >
          <path
            d="M2 0.5H0.5V3.5H2V0.5ZM57.5 3.5C58.3284 3.5 59 2.82843 59 2C59 1.17157 58.3284 0.5 57.5 0.5V3.5ZM2 3.5H57.5V0.5H2V3.5Z"
            fill="#141d2f"
          ></path>
        </svg>
      </div>
    </div>

    <div
      id="hamburgerButton"
      class="hamburgerMenu"
      (click)="isMenuOpen ? closeMenu() : openMenu()"
      style="z-index: 5"
    >
      <div
        id="lineTop"
        #lineTop
        class="hamburgerMenuLine topLine"
        style="
          animation: 125ms ease 0s 1 normal none running rotateBackTop;
          transform: translateY(0px) rotate(0deg);
        "
      ></div>
      <div
        id="lineMiddle"
        #lineMiddle
        class="hamburgerMenuLine middleLine"
        style="
          animation: 125ms ease 0s 1 normal none running fadeIn;
          background-color: rgb(0, 190, 232);
        "
      ></div>
      <div
        id="lineBottom"
        #lineBottom
        class="hamburgerMenuLine bottomLine"
        style="
          animation: 125ms ease 0s 1 normal none running rotateBackBottom;
          transform: translateY(0px) rotate(0deg);
        "
      ></div>
    </div>

    <div
      id="menuMobile"
      #menuMobile
      *ngIf="showOverlay"
      style="transform: translateX(0)"
    >
      <div class="navLink">
        <div class="navLinkContent">
          <a
            (click)="sharedData.clickedLink('aboutMe')"
            href="#aboutMe"
            [ngClass]="{ isActive: sharedData.isAboutMeClicked }"
            >{{ "ABOUT_ME" | translate }}</a
          >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="59"
            height="4"
            viewBox="0 0 59 4"
            fill="none"
          >
            <path
              d="M2 0.5H0.5V3.5H2V0.5ZM57.5 3.5C58.3284 3.5 59 2.82843 59 2C59 1.17157 58.3284 0.5 57.5 0.5V3.5ZM2 3.5H57.5V0.5H2V3.5Z"
              [attr.fill]="sharedData.isAboutMeClicked ? '#4B47FF' : '#141d2f'"
            />
          </svg>
        </div>
        <div class="navLinkContent">
          <a
            (click)="sharedData.clickedLink('skills')"
            href="#skills"
            [ngClass]="{ isActive: sharedData.isSkillsClicked }"
            >{{ "SKILLS" | translate }}</a
          >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="59"
            height="4"
            viewBox="0 0 59 4"
            fill="none"
          >
            <path
              d="M2 0.5H0.5V3.5H2V0.5ZM57.5 3.5C58.3284 3.5 59 2.82843 59 2C59 1.17157 58.3284 0.5 57.5 0.5V3.5ZM2 3.5H57.5V0.5H2V3.5Z"
              [attr.fill]="sharedData.isSkillsClicked ? '#4B47FF' : '#141d2f'"
            />
          </svg>
        </div>
        <div class="navLinkContent">
          <a
            (click)="sharedData.clickedLink('portfolio')"
            href="#portfolio"
            [ngClass]="{ isActive: sharedData.isPortfolioClicked }"
            >Portfolio</a
          >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="59"
            height="4"
            viewBox="0 0 59 4"
            fill="none"
          >
            <path
              d="M2 0.5H0.5V3.5H2V0.5ZM57.5 3.5C58.3284 3.5 59 2.82843 59 2C59 1.17157 58.3284 0.5 57.5 0.5V3.5ZM2 3.5H57.5V0.5H2V3.5Z"
              [attr.fill]="sharedData.isPortfolioClicked ? '#4B47FF' : '#141d2f'"
            />
          </svg>
        </div>
        <div class="navLinkContent">
          <a
            (click)="sharedData.clickedLink('contact')"
            href="#contact"
            [ngClass]="{ isActive: sharedData.isContactClicked }"
            >{{ "CONTACT" | translate }}</a
          >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="59"
            height="4"
            viewBox="0 0 59 4"
            fill="none"
          >
            <path
              d="M2 0.5H0.5V3.5H2V0.5ZM57.5 3.5C58.3284 3.5 59 2.82843 59 2C59 1.17157 58.3284 0.5 57.5 0.5V3.5ZM2 3.5H57.5V0.5H2V3.5Z"
              [attr.fill]="sharedData.isContactClicked ? '#4B47FF' : '#141d2f'"
            />
          </svg>
        </div>

        <div class="navLinkContent">
          <div class="languageSelection">
            <a
              (click)="changeLanguage('en')"
              [ngClass]="{ isActive: defaultLanguage == 'en' }"
              >en</a
            >
            |
            <a
              (click)="changeLanguage('de')"
              [ngClass]="{ isActive: defaultLanguage == 'de' }"
              >de</a
            >
          </div>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="59"
            height="4"
            viewBox="0 0 59 4"
            fill="none"
          >
            <path
              d="M2 0.5H0.5V3.5H2V0.5ZM57.5 3.5C58.3284 3.5 59 2.82843 59 2C59 1.17157 58.3284 0.5 57.5 0.5V3.5ZM2 3.5H57.5V0.5H2V3.5Z"
              fill="#141d2f"
            ></path>
          </svg>
        </div>
      </div>
    </div>
  </div>
</nav>
