<div class="content">
  <div class="about_me">

    <h1>About me</h1>
    <img class="shadow" src="./assets/img/about-me/about-me-shadow.svg">
    <div class="intro">
      <div> {{ howManyYearsInIt }} Hi, I am a Front-end deverloper based in München, Germany(....)Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut auctor sem non tempus convallis. Integer et justo vitae urna finibus eleifend sit amet porttitor sapien. Donec sollicitudin massa vel lorem vestibulum efficitur.</div>
      <div class="introduction">
        <div class="img-container">        
          <img class="image" src="./assets/img/about-me/light-bulb.svg">
        </div>
        <div>Some personal thing to share(...) Donec ut imperdiet diam, et convallis neque. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. </div>
      </div>
      <div class="introduction">
        <div class="img-container">
          <img class="image" src="./assets/img/about-me/puzzle.svg">
        </div>
        <div>Some personal thing to share(...) Donec ut imperdiet diam, et convallis neque. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. </div>
      </div>
    </div>
  </div>
  <div class="about_me_picture">
    <img src="./assets/img/about-me/about-me-picture.png" alt="">
    <svg xmlns="http://www.w3.org/2000/svg" width="267" height="8">
      <rect x="0" y="2" width="100%" height="4" fill="#00BEE8" />
    </svg>
  </div>
    
</div>
