<app-distance-area></app-distance-area>
<div class="content">
  <img class="shadow" src="./assets/img/about-me/about-me-shadow.svg" />
  <div class="about_me"  
  data-aos="fade-up"
  data-aos-offset="50"
  data-aos-delay="50"
  data-aos-duration="125"
  data-aos-easing="linear"
  data-aos-mirror="true"
  data-aos-once="false"
  >
    <h1>{{ "ABOUT_ME" | translate }}</h1>

    <div class="intro">      
      <div>
        {{ "ABOUT_ME_INTRO_PART1" | translate }}
        {{ howManyYearsInIt }}
        {{ "ABOUT_ME_INTRO_PART2" | translate }}
        <p>{{ "ABOUT_ME_INTRO_PART3" | translate }}</p>
      </div>
      <div class="introduction">
        <div class="img-container" id="aboutMeCenter">
          <img class="image" src="./assets/img/about-me/light-bulb.svg" />
        </div>
        <div class="share-aboutMe" [innerHTML]="'SOME_PERSONAL_THING_TO_SHARE1' | translate"></div>
      </div>
      <div class="introduction">
        <div class="img-container">
          <img class="image" src="./assets/img/about-me/puzzle.svg" />
        </div>
        <div class="share-aboutMe" [innerHTML]="'SOME_PERSONAL_THING_TO_SHARE2' | translate"></div>
      </div>
    </div>
  </div>
  <div
    class="about_me_picture"
    data-aos="fade-up"
    data-aos-offset="50"
    data-aos-delay="50"
    data-aos-duration="125"
    data-aos-easing="linear"
    data-aos-mirror="true"
    data-aos-once="false"
  >
    <img src="./assets/img/about-me/about-me-picture.png" alt="" />
    <svg xmlns="http://www.w3.org/2000/svg" width="267" height="8">
      <rect x="0" y="2" width="100%" height="4" fill="#00BEE8" />
    </svg>
  </div>
</div>
