@import "../../../../styles/mixins.scss";

.application {
  @include dFlex($jc: flex-end, $ai: center, $fd: column, $g: 10px);
  width: clamp(41px, 70%, 77px);
  flex: 0 0 calc(33.333% - 22px);
  padding: 24px 0;

  span{
    font-weight: 700;
    font-size: 14px;
    line-height: 16.8px;
    color: #ffffff;    
    text-align: center;  
  }

}