@import "../../../../styles/mixins.scss";

.application {
  @include dFlex($jc: flex-end, $ai: center, $fd: column, $g: 10px);
  width: clamp(41px, 70%, 77px);
  flex: 0 0 calc(33.333% - 22px);
  padding: 24px 0;

  position: relative;

  transition-property: padding, gap;
  transition-duration: 100ms;
  transition-timing-function: ease-in;

  span{
    font-weight: 700;
    font-size: 14px;
    line-height: 16.8px;
    color: #ffffff;    
    text-align: center;  
  }

  &:hover{
    animation-name: hoverAnimation;
    animation-duration: 100ms;
    animation-delay: 1ms;
    animation-fill-mode: forwards;
  }


}

@keyframes hoverAnimation {
  from {
    padding: 0;
    gap: 0;
  }
  to {
    padding: 5px 0;
    gap: 30px;
  }
}