@import "../../../../styles.scss";
@import "../../../../styles/mixins.scss";

.content {
  position: relative;
  padding: 0 25px;
  height: 380px;
  border-top: 4px #00bee8 solid;
  background-color: #141d2f;
  @include dFlex($jc: space-evenly, $ai: center, $fd: column, $g: 0px);

  .logoBoxFooter {
    width: 120px;
    @include dFlex($jc: flex-end, $ai: flex-start, $fd: column, $g: 2px);
    a {
      text-decoration: none;
      color: #FFFFFF;
      font-size: 36px;
      line-height: 28px;
      font-weight: 500;
    }
  }

  .copyright {
    font-weight: 400;
    font-size: 23px;
    line-height: 27.6px;
    white-space: nowrap;
  }

  .imprintBox,
  .privacyBox {
    @include dFlex($jc: flex-end, $ai: flex-start, $fd: column, $g: 2px);
    
    a {    
      font-size: 16px;
      font-weight: 400;
      line-height: 19.2px;
      color: #FFFFFF;
      text-decoration: none;
    }

    #imprintLine {
      display: none;
  
      &:hover,
      &.active {
          display: inline;
      }
  }

  }
}

@media (min-width: 993px){
  .content{
    @include dFlex($jc: space-between, $ai: center, $fd: row, $g: 0px);
    padding: 0 100px;
    height: 291px;

    .declarations{
      @include dFlex($jc: space-between, $ai: center, $fd: row, $g: 16px);
      padding-top: 8px;
    }

    .logoBoxFooter,
    .copyright{
      width: 30%;
      text-align: center;
      justify-content: center;
    }
    .reference-icons{
      width: 43%;
      justify-content: flex-end !important;
    }
  }
}