<div class="content">
  <div class="logoBoxFooter">
    <svg xmlns="http://www.w3.org/2000/svg" width="59" height="4" viewBox="0 0 59 4" fill="none"><path d="M2 0.5H0.5V3.5H2V0.5ZM57.5 3.5C58.3284 3.5 59 2.82843 59 2C59 1.17157 58.3284 0.5 57.5 0.5V3.5ZM2 3.5H57.5V0.5H2V3.5Z" fill="#00bee8"></path></svg>
      <a href="#">
        Stefan
      </a>
      <svg xmlns="http://www.w3.org/2000/svg" width="175" height="4" viewBox="0 0 59 4" fill="none"><path d="M2 0.5H0.5V3.5H2V0.5ZM57.5 3.5C58.3284 3.5 59 2.82843 59 2C59 1.17157 58.3284 0.5 57.5 0.5V3.5ZM2 3.5H57.5V0.5H2V3.5Z" fill="#4B47FF"></path></svg>
      @if(!showImprint){
      <div class="imprintBox" (mouseover)="isHovered=true" (mouseout)="isHovered=false"> 
        <a class="imprint" href="/imprint">Impressum</a>
           <svg [style.visibility]="isHovered ? 'visible' : 'hidden'" xmlns="http://www.w3.org/2000/svg" width="59" height="4" viewBox="0 0 59 4" fill="none"><path d="M2 0.5H0.5V3.5H2V0.5ZM57.5 3.5C58.3284 3.5 59 2.82843 59 2C59 1.17157 58.3284 0.5 57.5 0.5V3.5ZM2 3.5H57.5V0.5H2V3.5Z" fill="#00bee8"></path></svg>
       </div>
      }
    </div>
  <div class="copyright">
    © Stefan Jaroni 2024
  </div>
  <app-references [showLine]="false"></app-references>
  @if(showImprint){
  <div class="imprintBox" (mouseover)="isHovered=true" (mouseout)="isHovered=false"> 
      <a class="imprint" href="/imprint">Impressum</a>
      <svg [style.visibility]="isHovered ? 'visible' : 'hidden'" xmlns="http://www.w3.org/2000/svg" width="59" height="4" viewBox="0 0 59 4" fill="none"><path d="M2 0.5H0.5V3.5H2V0.5ZM57.5 3.5C58.3284 3.5 59 2.82843 59 2C59 1.17157 58.3284 0.5 57.5 0.5V3.5ZM2 3.5H57.5V0.5H2V3.5Z" fill="#00bee8"></path></svg>
    </div>
  }
</div>