@import "../../../styles/mixins.scss";

.reference-icons {
  width: 100%;  
  @include dFlex($jc: flex-start, $ai: center, $fd: row, $g: 42px);
  z-index: 1;

  a{
    z-index: 10;
  }

  .social-icon {
    width: 30px !important;
    cursor: pointer;    

    &:hover {
      transform: scale(1.2);
    }
  }

  .email_address,
  .scroll {
    display: none;
  }

}

@media (max-height: 700px) {
  .reference-icons {    
    padding-top: 18px;
  }
}

@media (min-width: 993px) {
  .reference-icons{
    @include dFlex($jc: flex-start, $ai: center, $fd: row, $g: 42px);
    width: 100%;
    position: relative;
    overflow-x: visible;    
    background-color: #141d2f;   
  }

  .email_address{
    display: block !important;
    font-size: 23px;
    line-height: 27.6px;
    font-weight: 400;
    color: #FFFFFF;
    text-decoration: none;
    flex-wrap: nowrap;    
    width: 60%;
  }

  svg {
    width: 100px !important;
  }

  .scroll {    
    @include dFlex($jc: flex-start, $ai: center, $fd: row, $g: 8px);
    rotate: 90deg;
    position: absolute;
    top: -75px;
    right: 25px;
    animation: bounce 2.5s infinite;

    span{
      font-weight: 400;
      font-size: 23px;
      line-height: 27.6px;
      color: #FFFFFF;  
    }

    img {
      rotate: -90deg;
    }

  }
}

@media (min-width: 768px) AND (max-width: 1365px) {
  .reference-icons{
    position: relative;
  }  
}