<div class="reference-icons" 

[ngStyle]="{ 'background-color': bgColor }">
  @if(showLineLeft){
  <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="8">
    <rect x="-2" y="2" width="98%" height="4" rx="2" ry="2" fill="#4b47ff" />
  </svg>
  } @else {
  <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="8">
    <rect x="2" y="2" width="100%" height="4" fill="none" />
  </svg>
  }

  <a target="_blank" href="https://github.com/sjaroni">
    <img class="social-icon" src="./assets/img/social/github.svg" />
  </a>
  <a href="#contact">
    <img class="social-icon" src="./assets/img/social/mail.svg" />
  </a>
  <a target="_blank" href="https://www.linkedin.com/in/stefan-jaroni">
    <img class="social-icon" src="./assets/img/social/linkedin.svg" />
  </a>

  @if(showLineLeft){
  <a class="email_address" href="#contact"> {{ 'MAIL' | translate }}</a>
  } @if(showLineRight){
  <svg
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 100 8"
    width="100%"
    height="8"
  >
    <rect x="2" y="2" width="100%" height="4" fill="none" />
  </svg>
  } @if(showLineLeft){
    <div class="scroll">
      <span>{{ 'SCROLL' | translate }} </span>
      <img src="./assets/img/social/scroll_down.svg" />
    </div>
  }
</div>
