<div class="content">
  <div class="skills">
    <h1>My skills</h1>

    <svg xmlns="http://www.w3.org/2000/svg" width="20px" height="8">
      <rect x="2" y="2" width="100%" height="4" fill="#4b47ff" />
    </svg>
  </div>
  <div class="intro">
    I have grown my frontend developments skills that have allowed me to create
    different real projects.
  </div>

  <div class="applications">
    @for(application of applications; track application.name; let index =
    $index){
    <app-single-application
      class="single-application"
      [singleApplication]="application"
    ></app-single-application>
    }
  </div>

  <button class="btn"><a href="#contact">Get in touch</a></button>
  <img class="shadow" src="./assets/img/my-skills/skills-shadow.svg" />
</div>
