<div class="content">
  <div class="skills">
    <h1>My skills</h1>
    
    <svg xmlns="http://www.w3.org/2000/svg" width="20px" height="8">
      <rect x="2" y="2" width="100%" height="4" fill="#4b47ff" />
    </svg>
  </div>
  <div class="intro">
    I have grown my frontend developments skills that have allowed me to create different real projects.
  </div>


  <!-- <div class="applications"
  (click)="editPlayer(i)"
  *ngFor="let player of game.players; let i = index"
  [ngStyle]="{ 'top.px ': 20 + i * 65 }"
  [playerActive]="i == game.currentPlayer"
  [name]="player"
  [image]="game.playerImages[i]"
  class="player-position">
    test
  </div> -->

  <div class="applications"  
  *ngFor="let application of applications; let i = index"
  [ngStyle]="{ 'top.px ': 20 + i * 65 }">
    test
  </div>
</div>