<div class="content" [ngStyle]="isNotMobile && {'flex-direction': project.id % 2 === 0 ? 'row' : 'row-reverse'}" >
  @if(project.id == 2){  
    <img class="shadow" src="./assets/img/projects/project-shadow.svg" />
  }
  <div class="project-img">
    <img src="./assets/img/projects/{{ project.img }}" alt="">
  </div>
  <div class="project-description"  
  [ngStyle]="isNotMobile && {'align-items': project.id % 2 === 0 ? 'flex-start' : 'flex-end'}"
  >    
    <div class="title">{{ project.title }} </div>
    <div class="stack"
    [ngStyle]="isNotMobile && {'text-align': project.id % 2 === 0 ? 'left' : 'right'}"
    >{{ project.stack }}</div>
    <div class="description"
    [ngStyle]="isNotMobile && {'text-align': project.id % 2 === 0 ? 'left' : 'right'}"
    >{{ project.description | translate }}</div>
    <div class="buttons">

      <button class="btn-secondary">
        <a href="{{ project.linkTryItOut }}" target="_blank">{{ 'PORTFOLIO_BTN' | translate }}</a>
      </button>
      <button class="btn-secondary">
        <a href="{{ project.linkGitHub }}" target="_blank">GitHub</a>
      </button>
    </div>
  </div>
</div>
