@import "../../../../styles/mixins.scss";
.content {
  @include dFlex($jc: center, $ai: center, $fd: column, $g: 0px);
  position: relative;

  .project-img {
    @include dFlex($jc: center, $ai: center, $fd: column, $g: 0px);
    width: 95%;
    height: 280px;

    img {
      width: 100%;
      object-fit: contain;
    }
  }

  .project-description {
    @include dFlex($jc: center, $ai: center, $fd: column, $g: 35px);
    width: 100%;

    .title,
    .stack,
    .description {
      text-align: center;
    }

    .stack,
    .description {
      font-weight: 400;
    }

    .title {
      font-weight: 700;
      font-size: 32px;
      line-height: 38.4px;
      color: #4b47ff;
    }

    .stack {
      font-size: 23px;
      line-height: 27.6px;
      color: #00bee8;
    }

    .description {
      font-size: 16px;
      line-height: 19.2px;
      color: #ffffff;
    }

    .buttons {
      position: relative;
      display: flex;
      gap: 51px;

      .btn-secondary:nth-child(1) {
        @include btn-secondary(
          $h: 58px,
          $p: 15px 30px,
          $bc: #4b47ff,
          $c: #4b47ff,
          $fw: 400,
          $lh: 27.6px,
          $fs: 23px,
          $hc: #00bee8,
          $ph: 15px 30px
        );
        &:active {
          background-color: #ffffff;
          color: #00bee8;
        }
      }
      .btn-secondary:nth-child(2) {
        @include btn-secondary(
          $h: 58px,
          $p: 15px 30px,
          $bc: #00bee8,
          $c: transparent,
          $fw: 400,
          $lh: 27.6px,
          $fs: 23px,
          $hc: #00bee8,
          $ph: 15px 30px
        );

        &:active {
          background-color: #ffffff;
          color: #00bee8;
        }
      }
    }
  }
}

.shadow {
  position: absolute;
  top: -16%;
  right: -25px;
  z-index: -1;
  width: 98%;
  height: auto;
}

@media (max-width: 390px) {
  .buttons {
    gap: 30px !important;
  }
}

@media (min-width: 993px) {
  .content {
    @include dFlex($jc: center, $ai: center, $fd: row, $g: 50px);
    padding: 0 50px;

    .project-img {
      width: 40%;
      height: unset;
    }

    .project-description {
      @include dFlex($jc: center, $ai: flex-start, $fd: column, $g: 35px);
      width: 40%;

      .stack,
      .description {
        text-align: left;
        word-wrap: break-word;
      }

      .buttons {
        gap: 86px;
      }
    }
  }

  .shadow {
    position: absolute;
    top: -25%;
    right: -25px;
    z-index: -2 !important;
    width: 68%;
    height: auto;
    display: none;
  }
}

@media (min-width: 768px) AND (max-width: 992px) {
   .content{
     .project-img{
       img{
         width: 50%;
       }
     }
   }
}

@media (min-width: 768px) AND (max-width: 1365px) {
  .shadow {
    width: 46%;
  }
}
