<div class="content" [ngStyle]="isNotMobile && {'flex-direction': project.id % 2 === 0 ? 'row' : 'row-reverse'}" >
  @if(project.id == 2){  
    <img class="shadow" src="./assets/img/projects/project-shadow.svg" />
  }
  <div class="project-img"
    data-aos="fade-up"
    data-aos-offset="50"
    data-aos-delay="50"
    data-aos-duration="125"
    data-aos-easing="linear"
    data-aos-mirror="true"
    data-aos-once="false"
  >
    <img src="./assets/img/projects/{{ project.img }}" alt="">
  </div>
  <div class="project-description" 
    data-aos="fade-up"
    data-aos-offset="50"
    data-aos-delay="50"
    data-aos-duration="125"
    data-aos-easing="linear"
    data-aos-mirror="true"
    data-aos-once="false"
    [ngStyle]="isNotMobile && {'align-items': project.id % 2 === 0 ? 'flex-start' : 'flex-end'}"
  >    
    <div class="title">{{ project.title | translate }}</div>
    <div class="stack"
    [ngStyle]="isNotMobile && {'text-align': project.id % 2 === 0 ? 'left' : 'right'}"
    >{{ project.stack | translate }}</div>
    <div class="description"
    [ngStyle]="isNotMobile && {'text-align': project.id % 2 === 0 ? 'left' : 'right'}"
    >{{ project.description | translate }}</div>
    <div class="buttons">

      @if(project.status != 'disabled'){
        <button class="btn-secondary">
          <a href="{{ project.linkTryItOut }}" target="_blank">{{ 'PORTFOLIO_BTN' | translate }}</a>
        </button>
        <button class="btn-secondary">
          <a href="{{ project.linkGitHub }}" target="_blank">GitHub</a>
        </button>
      }
      @else {
        {{ project.statusText | translate }}
      }
    </div>
  </div>
</div>
