@import "../../../../styles/mixins.scss";
.content{
  @include dFlex($jc: center, $ai: center, $fd: column, $g: 0px);
  position: relative;  
  
  .project-img {
    @include dFlex($jc: center, $ai: center, $fd: column, $g: 0px);    
    img{
      width: 75%;
      height: auto;
    }
  }

  .project-description{
    @include dFlex($jc: center, $ai: center, $fd: column, $g: 35px);
    width: 100%;

    .title,
    .stack,
    .description {
      text-align: center;
    }

    .stack,
    .description {
      font-weight: 400;
    }

    .title{
      font-weight: 700;
      font-size: 32px;
      line-height: 38.4px;
      color: #4B47FF;
    }

    .stack{
      font-size: 23px;
      line-height: 27.6px;
      color: #00BEE8;
    }

    .description{
      font-size: 16px;
      line-height: 19.2px;
      color: #FFFFFF;
    }

    .buttons{
      position: relative;
      display: flex;
      gap: 51px;

      .btn-secondary:nth-child(1){
        @include btn-secondary($h: 58px, $p: 15px 30px, $bc: #4B47FF, $c: #4B47FF, $fw: 400, $lh: 27.6px, $fs: 23px, $hc: #00BEE8, $ph: 15px 30px);
        &:active{
          background-color: #FFFFFF;
          color: #00BEE8;
        }
      }
      .btn-secondary:nth-child(2){
        @include btn-secondary($h: 58px, $p: 15px 30px, $bc: #00BEE8,$c: transparent, $fw: 400, $lh: 27.6px, $fs: 23px, $hc: #00BEE8, $ph: 15px 30px);
        
        &:active{
          background-color: #FFFFFF;
          color: #00BEE8;
        }
      }
    }    
  }  
}

.shadow{
  position: absolute;
  top: -35%;
  right: -25px;
  z-index: -1;
}

@media (max-width: 390px) {
  .buttons {    
    gap: 30px !important;
  }  
}


@media (min-width: 993px){
  
  .content{
    @include dFlex($jc: center, $ai: center, $fd: row, $g: 35px);
    padding: 0 50px;

    .project-img{
      width: 51%;
    }

    .project-description{
      @include dFlex($jc: center, $ai: flex-start, $fd: column, $g: 35px);
      width: 40%;

      .stack,
      .description{
        text-align: left;
        word-wrap: break-word;
      }

      .buttons{        
        gap: 86px;
      }


    }

  }
}